/*
BASE
- Root
- Links
- Typography
-- Shared
-- Headings
-- Paragraphs
-- Quotes
-- Code
-- Lists
-- Media
-- Tables
-- Forms
- Todo: Inline
*/


/*================================================================================
$ ROOT
================================================================================*/

html {
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: 100%;
    font: #{($base-font-size/16px)*100%}/#{$line-height-ratio} $base-font-family;

    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    background: white;
    color: $coal;
    font-family: $base-font-family;
    text-rendering: optimizeLegibility;

    /* Conditional CSS http://adactio.com/journal/5429/*/
    &:after {
        content: 'palm';
        display: none;

        @include media-query(lap) {
            content: 'lap';
        }
        @include media-query(desk) {
            content: 'desk';
        }
        @include media-query(wide) {
            content: 'wide';
        }
    }
}


/*================================================================================
$ LINKS
================================================================================*/

a{
    /**
     * Set colors etc in your theme stylesheet.
     */
     color: $link;
    &:hover,
    &:active,
    &:focus{
        color: $link-hover;
        text-decoration:underline;

    }
}


/*================================================================================
$ SECTIONING
================================================================================*/

header {}

footer {}

hr {
    clear: both;
    margin-bottom: $base-spacing;
    border: none;
    border-bottom: 1px solid $silver-light;
    padding-bottom: $half-spacing;
}


/*================================================================================
$ GROUPING
================================================================================*/

/* SHARED or THE LEAGUE OF EXTRAORDINARY TAGS */

h1, h2, h3, h4, h5, h6, hgroup,
p, blockquote, address,
ul, ol, dl,
table,
fieldset, figure, figcaption, details,
pre {
    /*font-size: 16px;
    font-size: 1.6rem;*/
    margin-bottom: $half-spacing;
}


/*========================================
$ HEADINGS
========================================*/

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    padding-top: $half-spacing;
    color: $hn-color;
    font-weight: $hn-font-weight;
    line-height: $hn-line-height;
    font-family: $hn-font-family;

    -webkit-font-smoothing: antialiased;
}
h1, .h1 {
    @include font-size($h1-size);
}
h2, .h2 {
    padding-top: $base-spacing;
    @include font-size($h2-size);
}
h3, .h3 {
    @include font-size($h3-size);
}
h4, .h4 {
    color: $grey;
    @include font-size($h4-size);
}
h5, .h5 {
    color: $grey;
    @include font-size($h5-size);
}
h6, .h6 {
    color: $grey;
    @include font-size($h6-size);
}
h1 span, .h1 span,
h2 span, .h2 span,
h3 span, .h3 span,
h4 span, .h4 span,
h5 span, .h5 span,
h6 span, .h6 span {
    font-size: inherit;
    font-weight: normal;
}


/*========================================
$ PARAGRAPHS
========================================*/

.lede {
    margin-bottom: $base-spacing;
    color: $lede-color;
    @include font-size($lede-size);
    line-height: 1.25;

    -webkit-font-smoothing: antialiased;
}
small, .small {
    /*display: inline-block;*/
    color: $small-color;
    @include font-size($small-size);
    font-family: $small-font-family;
}
.caption {
    @extend .small;
    padding-top: $half-spacing / 2;
    margin-bottom: $half-spacing;
}


/*========================================
$ QUOTES
========================================*/

blockquote {
    margin-left: $base-spacing;
    margin-right: $base-spacing;
}
blockquote + figcaption:before {
    content: "—";
}


/*========================================
$ PREFORMATTED
========================================*/

pre {
    overflow: auto;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-left: $base-spacing;
}
    pre code,
    pre samp {
        line-height: 1.25;
    }


/*========================================
$ LISTS
========================================*/

ul, ol, dl {
    margin-left: $base-spacing;

    &.unstyled {
        margin-left: 0;
        list-style: none;
    }
}
li {
    > ul,
    > ol {
        margin-bottom: 0;
    }
}
nav {
    ul {
        @include clearfix();
        margin: 0;
        padding: 0;
        list-style: none;
        list-style-image: none;
    }
    a {
        display: block;
    }
}
dd + dt {
    padding-top: $half-spacing;
}


/*========================================
$ TABLES
========================================*/

table {
    margin-top: $base-spacing;
    width: 100%;
}
    caption {
        padding-top: $half-spacing;
        margin-bottom: $half-spacing;
        color: $grey;
        @include font-size($small-size);
    }
    th,
    td {
        padding: $half-spacing/2 $half-spacing;
        text-align: left;
        vertical-align: top;

        @include media-query(max, $lap-start) {
            padding: $half-spacing/4 $half-spacing/2;
        }
    }
    [colspan] {
        text-align: center;
    }
    [colspan="1"] {
        text-align: left;
    }
    [rowspan] {
        vertical-align: middle;
    }
    [rowspan="1"] {
        vertical-align: top;
    }
    .numerical {
        text-align: right;
    }


/* BORDERED */

.table--bordered {
    th,
    td {
        border: 1px solid $silver-light;

        &:empty{
            border: none;
        }
    }

    thead tr:last-child th {
        border-bottom-width: 2px;
        border-bottom-color: $silver-light;
    }

    tbody tr th:last-of-type {
        border-right-width: 2px;
    }
}


/* STRIPED */

.table--striped {
    tbody tr:nth-of-type(odd) {
        background-color: $smoke;
    }
}


/*========================================
$ FORMS
========================================*/

/* LAYOUT */

form {
    > :last-child {
        margin-bottom: 0;
    }
}
fieldset {
    margin-bottom: $base-spacing;
    border: none;
}
    legend {
        margin-bottom: $half-spacing;
        padding-top: $half-spacing;
        color: $grey;
        font-weight: normal;
        @include font-size($base-font-size);
        @include uppercase();
    }
    .field {
        @include clearfix();
        margin-bottom: $base-spacing;
        list-style: none;
    }
    .options {
        list-style: none;
        margin: 0;
    }
        label {
            display: block;
            margin-bottom: $half-spacing / 2;
            font-weight: bold;
            @include font-size($small-size);

            .small {
                // display: block;
                font-weight: normal;
            }
        }
        .options label,
        label.check {
            display: inline-block;
            margin-bottom: 0;
            font-weight: normal;
            @include font-size($base-font-size);
        }
            abbr[title="Required"] {
                border: 0;
                color: #f00;
                font-weight: bold;
                @include font-size(18px);
            }
        input + .caption,
        select + .caption,
        textarea + .caption {
            display: block;
            margin-bottom: 0;
        }
    .form__actions {
        margin-top: $base-spacing;
        border-top: 1px solid $silver-light;
        padding-top: $base-spacing;
    }


/* INPUTS */

button,
input,
select,
textarea {
    outline: none;
    vertical-align: middle;
    line-height: $base-line-height;
}
.text,
select,
textarea {
    background: white;
    border: 1px solid $silver;
    padding: $half-spacing / 2;
    width: 100%;
    max-width: 100%;
    // line-height: 1.25;
    color: inherit;
    box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
    border-radius: $half-radius;

    &:focus {
        outline: none;
        border-color: $primary;

        box-shadow: 0 0 3px rgba(41, 147, 204, 0.5);
    }
}
.text {
    // -webkit-appearance: button;
    height: $base-line-height + $half-spacing + 2;
}
textarea,
textarea.text {
    min-width: 100%;
    height: auto;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: $half-spacing / 2;
}

[disabled] {
    background: $smoke;
    cursor: default;
}


/* ERRORS */

.error {
    label {
        color: $failure;
    }

    .text,
    select,
    textarea {
        border-color: $failure;
        @include prefix(border-radius, $half-radius $half-radius 0 0);
    }

    .error__message {
        display: block;
    }
}
    .error__message {
        display: none;
        padding: $half-spacing / 2 $half-spacing;
        background: $failure;
        color: white;
        @include font-size($small-size);
        @include prefix(border-radius, 0 0 $half-radius $half-radius);
    }


/*================================================================================
$ INLINE
================================================================================*/

/* ABBREVIATIONS */

abbr {
    color: $grey;
}
abbr[title],
dfn[title] {
    border-bottom: 1px dotted $silver;
    cursor: help;
}

/* HIGHLIGHT */

mark, .mark {
    padding: 0 2px;
    background: #ffc;
}
ins {
    padding: 0 2px;
    background: $smoke;
}
del {
    text-decoration: line-through;
}


/* CODE */

code, samp {
    color: #696;
    font-family: Inconsolata, Consolas, Monaco, monospace;
}
samp {
    background-color: $smoke;
    padding: 5px;
}
kbd {
    margin: 0 2px;
    border: 1px solid $silver-light;
    padding: 5px;
    background: white;
    color: $grey;
    font-size: 90%;
    line-height: 90%;
    font-family: inherit;
    @include prefix(border-radius, $half-radius);
}


/* SUBS AND SUPERS */

sub {
    font-size: smaller;
    line-height: 90%;
    vertical-align: sub;
}
sup {
    font-size: smaller;
    line-height: 90%;
    vertical-align: super;
}


/*================================================================================
$ MEDIA
================================================================================*/

img,
video,
embed {
    border: none;
    max-width: 100%;
    height: auto;
}


/* FIGURES */

figure {
    img {
        display: block;
    }
}
figcaption {
    clear: left;
    padding: $half-spacing;
    color: $grey;
    @include font-size($small-size);
}


/* PLACEMENT */

.img--right {
    float: right;
    margin-bottom: $base-spacing;
    margin-left: $base-spacing;
}
.img--left {
    float: left;
    margin-right: $base-spacing;
    margin-bottom: $base-spacing;
}
.img--center {
    display: block;
    margin-right: auto;
    margin-bottom: $base-spacing;
    margin-left: auto;
}
