/*

HELPERS

*/


/*
 * Clearfix
 */
.clearfix,
.cf {
    @include clearfix();
}


/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
    display: none !important;
    visibility: hidden;
}


/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
    visibility: hidden;
}

.visible {
    display: block!important;
    visibility: visible;
}


/*
 * For menu toggling
 */
.is-closed {
    margin: 0!important;
    border: 0!important;
    padding: 0!important;
    height: 0!important;
    overflow: hidden;
}
.is-open {
    height: auto;
    overflow: visible;
}


/*
 * Breakpoint based hiding
 */

// PALM
// by default we show desktop only to IE8 so hide everything else
.palm {
    display: none!important;
}
.lap {
    display: none!important;
}
.not-desk {
    display: none!important;
}
@include media-query(min,0px){
    .desk {
        display: none!important;
    }
    .not-desk {
        display: inherit!important;
    }
    .lap {
        display: none!important;
    }
    .not-lap {
        display: inherit!important;
    }
    .palm {
        display: inherit!important;
    }
    .not-palm {
        display: none!important;
    }
}

// LAP
@include media-query-bracket($lap-start, $desk-start) {
    .desk {
        display: none!important;
    }
    .not-desk {
        display: inherit!important;
    }
    .lap {
        display: inherit!important;
    }
    .not-lap {
        display: none!important;
    }
    .palm {
        display: none!important;
    }
    .not-palm {
        display: inherit!important;
    }
}

// DESK
@include media-query(desk) {
    .desk {
        display: inherit!important;
    }
    .not-desk {
        display: none!important;
    }
    .lap {
        display: none!important;
    }
    .not-lap {
        display: inherit!important;
    }
    .palm {
        display: none!important;
    }
    .not-palm {
        display: inherit!important;
    }
}


/*
 * Overrides for emergency use only ;)
 */

.float--right, .fr   { float: right!important; }
.float--left, .fl    { float: left !important; }

.text--left     { text-align: left  !important; }
.text--center   { text-align: center!important; }
.text--right    { text-align: right !important; }

.flush          { margin: 0!important; }
.flush--top     { margin-top: 0!important; }
.flush--right   { margin-right: 0!important; }
.flush--bottom  { margin-bottom:0!important; }
.flush--left    { margin-left: 0!important; }
.flush--ends    { margin-top: 0!important; margin-bottom: 0!important; }
.flush--sides   { margin-right: 0!important; margin-left: 0!important; }

.clear--both, .cb { clear: both!important; }
