/*

MIXINS

*/


/**
 * Output font size using rem and fallback
 *
   `@include font-size(10px);`
 *
 */
@mixin font-size($font-size){
    font-size: $font-size;
    font-size: ($font-size / $base-font-size)*1rem;
    // line-height: ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
}

/**
 * Output font size using rem and colour
 *
   `@include font-size-colour (10px, ffffff);`
 *
 */
@mixin font-size-colour($font-size, $font-colour){
  font-size: $font-size;
  font-size: ($font-size / $base-font-size)*1rem;
  color: $font-colour;
  // line-height: ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
}


/**
 * Output uppercase with some letter spacing
 *
   `@include uppercase(0.1em);`
 *
 */
@mixin uppercase($spacing: 0.1em){
    text-transform: uppercase;
    letter-spacing: $spacing;
}


/**
 * Output vendor-prefixed rules
 *
   `@include prefix(border-radius, 4px);`
 *
 */
@mixin prefix($property, $value...){
    -webkit-#{$property}: $value;
       -moz-#{$property}: $value;
        -ms-#{$property}: $value;
         -o-#{$property}: $value;
            #{$property}: $value;
}


/**
 * Output clearfix rules
 *
   ` `
 *
 */
@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    zoom: 1;
}


/**
 * Output media query block
 *
   `@include media-query(min, 640px);`
 *
 */
@mixin media-query($type, $breakpoint: $lap-start) {
    @if $type == "min" {
        @media screen and (min-width: $breakpoint) { @content }
    }
    @else if $type == "max" {
        @media screen and (max-width: $breakpoint - 1px) { @content }
    }
    @else if $type == "palm" {
        @media screen and (max-width: $lap-start - 1px) { @content }
    }
    @else if $type == "lap" {
        @media screen and (min-width: $lap-start) { @content }
    }
    @else if $type == "desk" {
        @media screen and (min-width: $desk-start) { @content }
    }
    @else if $type == "wide" {
        @media screen and (min-width: $wide-start) { @content }
    }
}

/**
 * Output media query block
 *
   `@include media-query-height(min, 640px);`
 *
 */
@mixin media-query-height($type, $breakpoint: $lap-start) {
    @if $type == "min" {
        @media screen and (min-height: $breakpoint) { @content }
    }
    @else if $type == "max" {
        @media screen and (max-height: $breakpoint - 1px) { @content }
    }
    @else if $type == "palm" {
        @media screen and (max-height: $lap-start - 1px) { @content }
    }
    @else if $type == "lap" {
        @media screen and (min-height: $lap-start) { @content }
    }
    @else if $type == "desk" {
        @media screen and (min-height: $desk-start) { @content }
    }
    @else if $type == "wide" {
        @media screen and (min-height: $wide-start) { @content }
    }
}

/**
 * Output media query block with min and max limits
 *
   `@include media-query-bracket(640px, 960px);`
 *
 */
@mixin media-query-bracket($from: 0, $to: $lap-start) {
    @if $to > $from {
        @media screen and (min-width: $from) and (max-width: $to - 1px) { @content }
    }
}


/**
 * Output rule for offscreen image replacement
 *
   `@include offscreen();`
 *
 */
@mixin offscreen() {
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    display: block;
    font-size: 0;
    text-align: start;
}


/**
 * Output color using rgba and fallback
 *
   `@include alpha(border-color, rgba(black,0.1), white);`
 *
 */
@mixin alpha($attribute, $color, $background) {
    $percent: alpha($color) * 100%;
    $opaque: opacify($color, 1);
    $solid-color: mix($opaque, $background, $percent);
    #{$attribute}: $solid-color;
    #{$attribute}: $color;
}



/**
 * Output percentage using px
 *
   `@include pxtopercent(500px, 1000px);`
 *
 */

@mixin pxtopercent($child, $parent) {
    width:round(($child / $parent) * 100%);
}



/**
 * Set the opacity for all browsers and provide a filter fallback for IE8.
 *
   `@include opacity(0.8);`
 *
 */

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}



/**
 * Center-align a block level element
 *
   `@include center-block;`
 *
 */

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



/**
 * Absolute Positioned
 *
   `@include abs-pos(10px, 10px, 5px, 15px);`
 *
 */

@mixin abs-pos ($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}



/**
 * Vertical Align anything
 *
   `@include vertical-align();`
 *
 */

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/**
 * Set float direction and width
 *
   `@include fl-width(left, 100%);`
 *
 */

 @mixin fl-width ($float: left, $width: 100%) {
   float: $float;
   width: $width;
 }

 /**
 * Full size background image
 *
   `@include full-page-img(image.jpg);`
 *
 */

 @mixin full-page-img ($image) {
    background: url($image) no-repeat center center fixed; 
    @include prefix(background-size, cover);

    @include media-query-bracket(0, $desk-start){
      background: url($image) no-repeat center center; 
      //@include prefix(background-size, auto);
    }
    
    
    
 }


