/*
OBJECTS
- Media
- Buttons
- Icons
- Todo: Grid
- Todo: Nav
- Todo: Pagination
- Todo: Block List
- Todo: Sprite
*/


/*========================================
$ NAVS
========================================*/

.nav {
    @include clearfix();
    margin-left: 0;
    list-style: none;

    > li {
        float: left;

        + li {
            margin-left: $base-spacing;
        }

        > a {
            display: inline-block;
        }

        &.active > a {
            cursor: default;
        }
    }
}

.nav--inline {
    @extend .nav;

    > li {
        float: none;
        display: inline-block;
    }
}

.nav--stacked {
    @extend .nav;

    > li {
        float: none;
        display: block;
        margin: 0;

        + li {
            margin-left: 0;
        }

        > a {
            display: block;
        }
    }
}

.nav--tabbed {
    @extend .nav;
    margin-bottom: $base-spacing;
    border-bottom: 1px solid $silver;

    > li {
        margin-bottom: -1px;

        + li {
            margin-left: $half-spacing;
        }

        > a {
            border: 1px solid $silver;
            border-bottom: none;
            padding: $half-spacing - 1px;
            border-radius: $base-radius $base-radius 0 0;
            background: $smoke;
            font-weight: bold;
            text-decoration: none;
            -webkit-font-smoothing: antialiased;
        }

        &.active > a {
            border-bottom: 1px solid white;
            background: none;
            color: inherit;
        }
    }
}
.tabbed--full {
    text-align: center;

    > li {
        + li {
            margin-left: 0;
        }

        > a {
            display: block;
            @include prefix(border-radius, 0);
        }

        &:first-child > a {
            @include prefix(border-radius, $base-radius 0 0 0);
        }

        &:last-child > a {
            @include prefix(border-radius, 0 $base-radius 0 0);
        }
    }
}
.tabbed-2 > li {
    width: 50%;
}
.tabbed-3 > li {
    width: 33.33333%;
}
.tabbed-4 > li {
    width: 25%;
}
    .tab__body {
        @include clearfix();
        margin-bottom: $base-spacing;

        > :last-child {
            margin-bottom: 0;
        }
    }

.nav--pagination {}

.nav--breadcrumb {
    @extend .nav;

    > li + li {
        margin-left: $half-spacing / 2;

        &:before {
            content: "→";
            display: inline-block;
            margin-right: $half-spacing / 2;
        }
    }

    @include media-query(max, $lap-start) {

        > li {
            display: none;

            &:nth-last-child(2) {
                display: block;
                float: none;
            }

            a {
                display: block;
            }
        }

        > li + li {
            margin-left: 0;

            &:before {
                content: "←";
                float: left;
            }

        }
    }
}


/*========================================
$ FLYOUT
========================================*/

.flyout,
.flyout--rev,
.flyout--alt {
    position: relative;
    // overflow: hidden;

    &:hover {
        // overflow: visible;
    }
}
    .flyout__body {
        position: absolute;
        top: 100%;
        left: -9999px;
        z-index: 1;
        border: 1px solid $silver;
        // padding: $half-spacing - 1;
        // min-width: 200px;
        background: white;
        white-space: nowrap;

        li {
            float: none;
            display: block;
        }
    }
    .flyout:hover > .flyout__body {
        left: 0;
    }
    .flyout--rev:hover > .flyout__body {
        left: auto;
        right: 0;
    }
    .flyout--alt:hover > .flyout__body {
        left: 0;
        top: auto;
        bottom: 100%;
    }


/*========================================
$ MEDIA
========================================*/

.media {
    @include clearfix();
    display: block;
}
    .media > a {
    display: block;
    }
        .media__img {
            float: left;
            margin-right: $base-spacing;
        }
        .media__img--rev {
            float: right;
            margin-left: $base-spacing;
        }
            .media__img img,
            .media__img--rev img {
                display: block;
            }
        .media__body {
            overflow: hidden;
        }
            .media__body,
            .media__body > :last-child {
                margin-bottom: 0;
            }


/*========================================
$ PANEL
========================================*/

.panel {
    margin-bottom: $base-spacing;
    // border: 1px solid $silver;
    padding: $base-spacing;
    background: white;
    @include prefix(box-shadow, 0 1px 3px rgba(0,0,0,0.1));

    > :first-child {
        /*padding-top: 0;*/
    }
    > :last-child {
        // margin-bottom: 0;
    }
    .full {
        margin-right: $base-spacing * -1;
        margin-left: $base-spacing * -1;
    }
}
    .panel__title {
        margin: $base-spacing * -1 $base-spacing * -1 $base-spacing;
        border-bottom: 1px solid $silver;
        padding: $base-spacing;
        @include font-size($h3-size);
        line-height: 1;

        + * {
            padding-top: 0;
        }
    }
    .panel__body {
        > :last-child {
            margin-bottom: 0;
        }
    }
    .panel__footer {
        margin: $base-spacing $base-spacing * -1 $base-spacing * -1;
        border-top: 1px solid $silver-light;
        padding: $base-spacing;
        background: $smoke;
    }
.panel--bordered {
    border: 1px solid $silver;
    padding: $base-spacing - 1;

    .full {
        margin-right: ($base-spacing - 1) * -1;
        margin-left: ($base-spacing - 1) * -1;
    }

    .panel__title {
        margin: (($base-spacing - 1) * -1) (($base-spacing - 1) * -1) $base-spacing;
    }

    .panel__footer {
        margin: $base-spacing (($base-spacing - 1) * -1) (($base-spacing - 1) * -1);
    }
}
.panel--cta {
    @extend .panel--bordered;
    border-color: $primary;
    background: $smoke;

    .panel__title {
        border-bottom: 0;
        background: $primary;
        color: white;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    }
    hr {
        border-color: $silver;
    }
}


/*========================================
$ NOTICE
========================================*/

.notice {
    @extend .panel;
    @extend .panel--bordered;
    padding-top: $half-spacing;
    padding-bottom: $half-spacing;

    > :first-child {
        padding-top: 0;
    }
    > :last-child {
        margin-bottom: 0;
    }
}
.notice--alert {
    background: lighten($alert, 55%);
    border-color: $alert;

    .panel__title {
        border-color: $alert;
    }
}
.notice--success {
    background: lighten($success, 55%);
    border-color: $success;

    .panel__title {
        border-color: $success;
    }
}
.notice--failure {
    background: lighten($failure, 55%);
    border-color: $failure;

    .panel__title {
        border-color: $failure;
    }
}


/*========================================
$ MODAL
========================================*/

.modal {
    display: none;
    position: fixed;
    left: $half-spacing;
    right: $half-spacing;
    top: $half-spacing;
    z-index: 21;
    padding: $base-spacing;
    height: auto;
    background: #fff;
    @include prefix(box-shadow, 0 0 10px rgba(0,0,0,0.5));
    @include prefix(border-radius, $base-radius);

    @include media-query(lap) {
        left: 50%;
        right: auto;
        top: 10%;
        margin-left: -240px;
        width: 480px;
    }

    > :last-child {
        margin-bottom: 0;
    }
}
.modal--large {
    @include media-query(desk) {
        margin-left: -$desk-start / 2;
        width: $desk-start;
    }
}
    .modal__close {
        position: absolute;
        top: $half-spacing;
        right: $half-spacing;
        width: $base-spacing;
        height: $base-spacing;
        text-align: center;
    }
    .modal__title {
        margin-bottom: $base-spacing;
        border-bottom: 1px solid $silver;
        padding-top: 0;
        padding-bottom: $half-spacing;
    }
.modal-bg {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    background: #000;
    background: rgba(0,0,0,0.75);
}

/*========================================
$ TOOLTIP
========================================*/

.tooltip:before {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 10px;
    display: inline-block;
    border-color: $silver transparent;
    border-style: solid;
    border-width: 7px 7px 0;
}
.tooltip:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 10px;
    display: inline-block;
    border-color: white transparent;
    border-style: solid;
    border-width: 7px 7px 0;
}


/*========================================
$ BUTTONS
========================================*/

.button-bar {
    @include clearfix();

    .button-group {
        float: left;
        margin-right: $half-spacing;
        margin-bottom: 0;
    }
}

.button-group {
    @extend .nav;
    white-space: nowrap;

    > li + li {
        margin-left: -1px;
    }
        .button {
            @include prefix(border-radius, 0);
        }
        > li:first-child .button {
            border-top-left-radius: $half-radius;
            border-bottom-left-radius: $half-radius;
            // @include prefix(border-radius, $half-radius 0 0 $half-radius);
        }
        > li:last-child .button {
            border-top-right-radius: $half-radius;
            border-bottom-right-radius: $half-radius;
            // @include prefix(border-radius, 0 $half-radius $half-radius 0);
        }
}

/* BUTTON 

button,
input[type="button"],
input[type="submit"],
.button {
    display: inline-block;
    border: 1px solid $silver;
    padding: $half-spacing / 2 $half-spacing;
    width: auto;
    background: $smoke;
    color: $base-color;
    font-weight: bold;
    line-height: normal;
    line-height: $base-line-height;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1), 0 1px 1px rgba(0,0,0,0.1);
    @include prefix(border-radius, $half-radius);
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);

    &:hover,
    &:focus {
        background: lighten($smoke, 5%);
        color: $link-hover;
        text-decoration: none;
    }

    &:active {
        background: darken($smoke, 5%);
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    }

    + button,
    + a {
        margin-left: $half-spacing;
    }
}
.button--small {
    padding: 0 $half-spacing / 2;
    @include font-size(12px);
}
.button--large {
    padding: $base-spacing / 2 $base-spacing;
    @include font-size(16px);
}
.button--full {
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
*/

/*========================================
$ ICONS
========================================*/

.stat{
    color: $grey;
    text-align: right;
}
    .stat__count {
        @include font-size($h2-size);
    }
    .stat__title {
        display: block;
        @include font-size($small-size);
        @include uppercase();
    }


/*========================================
$ ICONS
========================================*/

[class^="icon-"], [class*=" icon-"] {
    span {
        position: absolute;
        left: -9999px;
    }
}


/*========================================
$ GRID
========================================*/

.wrapper {
    clear: both;
    width: 100%;
}
    .container {
        @include clearfix();
        // position: relative;
        margin: 0 auto;
        padding-right: $half-spacing;
        padding-left: $half-spacing;
        width: auto;
        max-width: $page-width;
        list-style: none;

        @include media-query(lap) {
            padding-right: $base-spacing;
            padding-left: $base-spacing;
        }
    }
    .grid {
        @include clearfix();
        margin-left: -4%;

        @include media-query(desk) {
            margin-left: -2%;
        }
    }
    .grid--padded-top {
        padding-top: $base-spacing;
    }
    .grid--padded-bottom {
        padding-bottom: $base-spacing;
    }
    .grid--padded {
        @extend .grid--padded-top;
        @extend .grid--padded-bottom;
    }
        [class*=span],
        .grid__cell {
            position: relative;
            float: left;
            display: inline;
            padding-left: 4%;
            width: 100%;
            min-height: 1px;

            @include media-query(desk) {
                padding-left: 2%;
            }
        }

@mixin context-widths($context, $grids) {
    @each $grid in $grids {
        @for $i from 1 through $grid {
            .#{$context}-#{$grid}-#{$i} { width: ($i / $grid) * 100% ; }
        }
    }
}

@each $breakpoint in $breakpoints {
    $context: nth($breakpoint, 1);
    $min: nth($breakpoint, 2);
    $max: nth($breakpoint, 3);
    $grids: nth($breakpoint, 4);
    @if $min == 0 and $max > 0 {
        @include media-query(max, $max) {
            @include context-widths($context, $grids);
        }
    } @else if $max == 0 and $min > 0 {
        @include media-query(min, $min) {
            @include context-widths($context, $grids);
        }
    } @else if $max > $min {
        @include media-query-bracket($min, $max) {
            @include context-widths($context, $grids);
        }
    }
}
