/*

VARIABLES

*/


/* PALETTE */
$white: #ffffff!default;
$white-trans: rgba(255,255,255,0.8);
$offwhite: #f2f2f2!default;
$smoke: rgb(242,242,242)!default;
$silver-light: #eeeeee!default;
$silver: #cccccc!default;
$grey-light: #9B9B9B!default;
$grey: #666666!default;
$dark-coal: #4A4A4A!default;
$coal: rgb(155,155,155)!default;
$heading-colour: #232323!default;
$black: #000000!default;
$border-grey:#C4C4C4!default;

$primary: rgb(9, 176, 172); // #09B0AC Blue
$secondary: rgb(126, 30, 100); // #7E1E64 dark blue 
$tertiary: rgb(245, 246, 246); // #F5F6F6 grey


$link: $primary!default;
$link-hover: lighten($primary, 5%);
$link-active: darken($primary, 5%);

$alert: #cccc00!default;
$success: #00cc66!default;
$failure: #cc0000!default;

$facebook: #3B5999;
$twitter: #00ACEE;

/* CATEGORIES */
$business-insurance: rgb(212,15,101)!default;
$personal-insurance: rgb(235,95,80)!default;
$motor-insurance: rgb(46,170,225)!default;
$travel-insurance: rgb(241,137,38)!default;
$home-insurance: rgb(126,30,100)!default; // #7E1E64 dark blue 
$dark-home-insurance: #672161!default;
$ll-tenants-insurance: rgb(66,65,148)!default;
$h-home-insurance: rgb(255,204,33)!default;
$y-and-c-insurance: rgb(224,29,42)!default;

/* TYPOGRAPHY */
$small-base-font-size: 11px!default;

$base-font-size: 14px!default;
$base-line-height: 22px;

$large-base-font-size: 20px!default;

$large-base-font-size-palm: 16px!default;
$large-base-line-height-palm: 22px!default;

$large-base-line-height: 26px!default;

$line-height-ratio: (round(($base-line-height / $base-font-size) * 100)) / 100;
$base-font-family: "Lato", sans-serif!default;
$base-color: $coal!default;


$light-font-weight: 300!default;
$normal-hn-font-weight: 400!default;
$medium-hn-font-weight: 500!default;
$semi-bold-hn-font-weight: 600!default;
$bold-font-weight: 700!default;

$hn-font-weight: $normal-hn-font-weight!default;

$massive-h1-size: 110px!default;
$massive-h1-size-palm: 60px!default;

$h1-size: 64px!default;
$h1-size-palm: 50px!default;

$h2-size: 36px!default;
$h2-size-palm: 22px!default;

$h3-size: 44px!default;
$h3-size-lap: 30px!default;
$h3-size-palm: 24px!default;

$h4-size: 24px!default;
$h4-size-palm: 14px!default;

$h5-size: 16px!default;
$h5-size-palm: 14px!default;

$h6-size: 22px!default;
$h6-size-lap: 20px!default;
$h6-size-palm: 16px!default;

$hn-line-height: $line-height-ratio!default;
$hn-font-family: $base-font-family!default;
$hn-color: $base-color!default;

$lede-size: 18px!default;
$lede-color: $grey!default;

$small-size: 11px!default;
$small-font-family: $base-font-family!default; 
$small-color: $grey-light!default;


/* LAYOUT */

$base-spacing: $base-line-height!default;
$half-spacing: $base-spacing / 2!default;
$bsp: 10px!default; 
$hsp: 5px!default; 

$no-bg: rgba(0, 0, 0, 0)!default;
$lap-start: 600px!default;
$desk-start: 900px!default;
$wide-start: 1200px!default;
$page-width: 1440px!default;
$page-width-wide: 1200px!default;
$massive-wide: 120000px!default;

$palm-grids: 4!default;
$lap-grids: (4, 5)!default;
$desk-grids: (6, 8)!default;

$breakpoints : (
    'palm' 0 $lap-start $palm-grids,
    'lap' $lap-start $desk-start $lap-grids,
    'desk' $desk-start 0 $desk-grids
);

$base-radius: 9px!default;
$half-radius: ceil($base-radius / 2);
