/* ====== BASE STYLES ====== */


/* ======
BASE STYLES
	- TYPOGRAPHY STYLES
	- GENERAL SECTION STYLES
	- CONTENT SECTION STYLES
====== */



/* ==========================================================================
$	TYPOGRAPHY STYLES
========================================================================== */

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 label {
	color: $primary;
	text-align: center;

	@include media-query-bracket(0,$lap-start){
		text-align: center;
	}
}

h1, .h1 {
	line-height: 1em;
	font-weight: $light-font-weight;
    @include media-query-bracket(0,$lap-start){
    	@include font-size($h1-size-palm);
    }
}

h2, .h2 { 
	font-weight: $light-font-weight;
    @include media-query-bracket(0,$lap-start){
    	@include font-size($h2-size-palm);
    }
}

h3, .h3 {
	font-weight: $light-font-weight;

	@include media-query-bracket($lap-start, $desk-start){
    	@include font-size($h3-size-lap);
    }

    @include media-query-bracket(0,$lap-start){
    	@include font-size($h3-size-palm);
    }
}

h4, .h4 {
    @include media-query-bracket(0,$lap-start){
    	@include font-size($h4-size-palm);
    }
}

h5, .h5 {
    @include media-query-bracket(0,$lap-start){
    	@include font-size($h5-size-palm);
    }
}

h6, .h6 {
	font-weight: $light-font-weight;
    @include media-query-bracket($lap-start, $desk-start){
    	@include font-size($h6-size-lap);
    }
    @include media-query-bracket(0,$lap-start){
    	@include font-size($h6-size-palm);
    }
}

a:hover, a:active, a:focus {
  // styling for any way a link is about to be used
}

a {
	color: $primary;
	outline: none;

	@include media-query-bracket(0,$lap-start){
		text-align: center;
	}

	&:hover {
		color: $primary;
	}
}

p {
	font-size: $base-font-size;
	line-height: $base-line-height;

	@include media-query-bracket(0,$lap-start){
		text-align: center;
	}
}

.text-center {
	text-align: center;
}

.break {
	@include clearfix();
}

.desk-break {
	@include media-query-bracket($desk-start, $massive-wide){
		@include clearfix();
	}
}

.lap-break {
	@include media-query-bracket($lap-start, $desk-start){
		@include clearfix();
	}
}

.palm-break {
	@include media-query-bracket(0, $lap-start){
		@include clearfix();
	}
}

/* ==========================================================================
$	GENERAL SECTION STYLES
========================================================================== */

body {
	min-width: 320px;
}

.fw {
	@include clearfix();
	@include fl-width(left, 100%);
}

.right-col {
	@include fl-width(right, 50%);
}

.left-col {
	@include fl-width(left, 50%);
}

.right-col, .left-col {
	display: inline-block;
	@include media-query-bracket(0,$lap-start){
    	width: 100%;
    }
}

.colour-bg {
	p,a, h6, label {
		color: $white;
	}
}

.white-bg {
	background-color: $white;
	p,a {
		color: $grey-light;
	}
}

.primary-bg {
	@extend .colour-bg;
	background-color: $primary;

	p,a, h5, label {
		color: $white;
	}

}

.secondary-bg {
	background-color: $secondary;
}

.tertiary-bg {
	background-color: $tertiary;
}

.arrow {
	background:transparent url('../images/arrow.png') right center no-repeat;
	padding-right: 20px;
}

/* ==========================================================================
$	CONTENT SECTION STYLES
========================================================================== */

.content-holder {
	display: block;
	float: left;
	padding-bottom: 30px;
	padding-top: 30px;
	width: 100%;

	&.secondary-bg, &.primary-bg {
		padding-bottom: 45px;
		padding-top: 45px;

		@include media-query-bracket(0,$page-width){
			padding-bottom: 30px;
			padding-top: 30px;
		}
	}

	@include media-query-bracket(0, $lap-start){
		padding-bottom: 15px;
		padding-top: 15px;
	}

	&.more-categories {
		padding-top: 0;
	}
}

section.content-section {
	padding-top: $bsp*6;
}

.centered {
	@include clearfix;
	@include center-block;
	max-width: $page-width-wide;
	width:100%;

	@include media-query-bracket($lap-start,$page-width){
		padding: 0 10px 0 10px;
	}

	@include media-query-bracket($lap-start,$desk-start){
		width: 90%;
	}

	@include media-query-bracket(0,$lap-start){
		padding: 5px 10px;
	}
}

.content-wrapper {
	@include clearfix();
}

.inner-wrapper {
	background-color: #fff;
	display: block;
    float: left;
    position: relative;
    width: 100%;
}

.section-heading {
	@include clearfix;
	margin: 25px auto;

	@include media-query-bracket(0,$lap-start){ 
		margin: 15px auto;
	}

	h3 {
		line-height: 1em;	
		@include media-query-bracket(0,$lap-start){
			line-height: 1.2em;
		}
	}
}

.sub-heading {
	font-weight: $light-font-weight;
	font-size: $h4-size;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;

	@include media-query-bracket(0,$lap-start){
		font-size: $h4-size-palm;
		margin-bottom: 10px;
		margin-top: 10px;
	}

	.primary-bg &, .secondary-bg & {
		color: $white;
	}
}

.s-sub-heading {
	@extend .sub-heading;
	font-size: $h5-size;

	@include media-query-bracket(0,$lap-start){
		line-height: 1.4em;
		font-size: $h5-size-palm;
	}
}

.actions {	
    text-align: center;
}

.partner {
	padding-bottom: 20px;
	padding-top: 30px;
	width: 100%;

	img {
		@include center-block;
	}
}

.close {
	display: inline-block;
	float: left;
	height: 35px;
	position: absolute;
	right: 2em;
	top: 2em;
	width: 35px;
	z-index: 5000;

	@include media-query-bracket(0,$lap-start){
		right: 1em;
		top:1em;
		width: 30px;
	}
			    
	span {
		background-color: $white;
		@include prefix(transform, rotate(-45deg));
		display: block;
		height: 3px;
		margin-bottom: 3px;
		width: 35px;
		
		position: absolute;
		right: 0;
		top: 10px;
	}

	span:last-child {
		@include prefix(transform, rotate(45deg) );			
	}

	&:hover {
		cursor: pointer;
	}
}