/* ====== BUTTONS ====== */


/* ======
BUTTONS
	- BASE STYLES
	- PRIMARY BUTTON
	- SECONDARY BUTTON
	- TERTIARY BUTTON
	- RESULTS BUTTON
	- CONTACT US BUTTON
	- BUSINESS INSURANCE BUTTON
	- PERSONAL INSURANCE BUTTON
	- MOTOR INSURANCE BUTTON
	- TRAVEL INSURANCE BUTTON
	- HOME INSURANCE BUTTON
	- LANDLORD AND TENANTS INSURANCE BUTTON
	- HOLIDAY INSURANCE BUTTON
	- YACHT AND CARAVAN INSURANCE BUTTON
====== */


/* ==========================================================================
$	BASE STYLES
========================================================================== */

.button-wrapper {
	@include media-query-bracket(0,$lap-start){
		display: table;
		margin:  0 auto;
	}
}

.btn-wrapper {
    clear: both;
    display: block;
    float: left;
    margin-top: $bsp*2;
}

.btn {
	@include font-size-colour($base-font-size, $white);
	@include prefix(border-radius, 6px);
	@include prefix(transition, opacity .25s ease-in-out);
	color: $white;
	display: inline-block;
	font-weight: bold;
	opacity: 1;
	padding: 15px 30px;
	text-align: center;

    a {
		color: $white;
	}

	&:hover {
		color: $white;
		opacity: 0.92;

		a { 
			color: $white;
		}
	}
}


/* ==========================================================================
$	PRIMARY BUTTON
========================================================================== */

.primary-btn, .actions .primary-btn{
	@extend .btn;
	background-color: $primary;
	
	&:hover {
		background-color: $primary;
	}
	
}


/* ==========================================================================
$	SECONDARY BUTTONS
========================================================================== */

.secondary-btn {
	@extend .btn;
	background-color: $no-bg;
	border: 1px solid $primary;

	color: $primary;
	
	&:hover {
		background-color: $primary;
	}
	
}


/* ==========================================================================
$	TERTIARY BUTTONS
========================================================================== */

.tertiary-btn {
	@extend .btn;
	background-color: $tertiary;
	
	&:hover {		
		background-color: $primary;		
	}
	
}

.btn-category {
	@extend .btn;
	display: inline-block;
	margin: 0 auto;
	padding: 7px 20px;
	width: 100%;	
	

	@include media-query-bracket(0,$lap-start){
		font-size: 12px;
	}
}

/* ==========================================================================
$	RESULTS BUTTON
========================================================================== */

.result-btn {
    font-size: 22px;
    font-weight: 300;

    @include media-query-bracket(0,$desk-start){
		font-size: 16px;
	}
}

/* ==========================================================================
$	CONTACT US BUTTON
========================================================================== */
.header-contact .primary-btn {
	@extend .btn-category;

	@include media-query-bracket(0,630px){
		font-size: 12px;
	}
}

/* ==========================================================================
$	BUSINESS INSURANCE BUTTONS
========================================================================== */

.business-insurance-btn {
	@extend .btn-category;
	background-color: $business-insurance;
	
	&:hover {		
		background-color: $business-insurance;
	}
	
}


/* ==========================================================================
$	PERSONAL INSURANCE
========================================================================== */

.personal-insurance-btn {
	@extend .btn-category;
	background-color: $personal-insurance;
	
	&:hover {		
		background-color: $personal-insurance;
	}
	
}


/* ==========================================================================
$	MOTOR INSURANCE
========================================================================== */

.motor-insurance-btn {
	@extend .btn-category;
	background-color: $motor-insurance;
	
	&:hover {		
		background-color: $motor-insurance;
	}
	
}


/* ==========================================================================
$	TRAVEL INSURANCE
========================================================================== */

.travel-insurance-btn {
	@extend .btn-category;
	background-color: $travel-insurance;
	
	&:hover {		
		background-color: $travel-insurance;
	}
	
}


/* ==========================================================================
$	HOME INSURANCE
========================================================================== */

.home-insurance-btn {
	@extend .btn-category;
	background-color: $home-insurance;
	
	&:hover {		
		background-color: $home-insurance;
	}
	
}


/* ==========================================================================
$	LANDLORD AND TENANTS INSURANCE
========================================================================== */

.ll-tenants-insurance-btn {
	@extend .btn-category;
	background-color: $ll-tenants-insurance;
	
	&:hover {		
		background-color: $ll-tenants-insurance;
	}
	
}


/* ==========================================================================
$	HOLIDAY INSURANCE
========================================================================== */

.h-home-insurance-btn {
	@extend .btn-category;
	background-color: $h-home-insurance;
	
	&:hover {		
		background-color: $h-home-insurance;
	}
	
}


/* ==========================================================================
$	YACHT AND CARAVAN INSURANCE
========================================================================== */

.y-and-c-insurance-btn {
	@extend .btn-category;
	background-color: $y-and-c-insurance;
	
	&:hover {		
		background-color: $y-and-c-insurance;
	}
	
}



