/* ====== FOOTER ====== */


/* ======
FOOTER
	- BASE STYLES
====== */


/* ==========================================================================
$	BASE STYLES
========================================================================== */

footer.footer {
	@extend .content-holder;
	display: block;
	border-top: 1px solid $border-grey;

	@include media-query-bracket(0,$lap-start){
		padding-bottom: 0;
		.centered {
			padding-left: 0;
			padding-right: 0;
		}
	}
	
	ul {
		margin-left: 0;
	}

	li {
		list-style: none;
		
		@include media-query-bracket(0,$lap-start){
			text-align: center;			
		}
	}
}

.footer-col > p {
	font-size: 16px;

	@include media-query-bracket(0,$lap-start){
		font-size: 14px;		
	}
}

.footer-col a {
	@include media-query-bracket(0,$lap-start){
		font-size: 12px;		
	}
}

.col-one, .col-two, .col-three {
	display: inline-block;
	float: left;
}

.col-one, .col-two {
	width: 30%;
	@include media-query-bracket(0,$lap-start){
		width: 50%;
	}
}

.col-three {
	text-align: right;
	width: 40%;

	@include media-query-bracket(0,$lap-start){
		background-color: $white;
		border-top: 1px solid $border-grey;
		padding: 20px;
		width: 100%;
	}
}

.social {
	ul {
		float: right;
		margin: 0;
		width: auto;
	}
	li {
		display: inline-block;
		float: left;
	}
}

.ag_brand {
	float: right;

	@include media-query-bracket(0, $lap-start){
		width: 50%;
	}

	img {
		clear: both;
		display: block;
		float: right;
		margin-top: 10px;
	}
}

.call, .call a {
	color: $dark-coal;
	font-size: 28px;
	font-weight: 300;

	@include media-query-bracket($lap-start, $desk-start){
		font-size: 22px;
	}

	@include media-query-bracket(0, $lap-start){
		font-size: 20px;
	}
}


.footer-logo, .footer-contact, .social {
	@include clearfix;
}


@include media-query-bracket(0,$lap-start){

	.footer-logo {
		float: right;
		width: 12%;

		img {
			width: 100%;
		}
	}

	.footer-contact {
		float: left;
		text-align-last: auto;
		width: 70%;

		p, a {
			text-align: left;
		}
	}

	.social {
		float: left;
		width: 50%;

		ul {
			float: left;
		}
	}

	.ag_brand img { 
		margin-top: 0;
		max-width: 170px;
	}
}
