/* ====== HEADER ====== */


/* ======
HEADER
	- BASE STYLES
	- MENU STYLES
====== */


/* ==========================================================================
$	BASE STYLES
========================================================================== */

header.header {
	display: block;
	width: 100%;
	
	@include media-query-bracket($lap-start, $desk-start){
		.centered {
			width: 100%;
		}	
	}
	
}

// .logo, .logo a {
// 	background:transparent url('../images/qd-logo.svg') left top no-repeat;
// 	display: inline-block;
//     bottom: 0;
//     height: 140px;
//     left: 0;
//     margin-bottom: 0;
//     max-width: 185px;
//     overflow: hidden;
//     padding: 0;
//     position: absolute;
//     text-indent: -9999px;
//     width: 182px;
// }


.logo-holder {
    bottom: 0;
    display: inline;
    float: left;
    left: 5px;
    position: absolute;
    width: 14%;

    @include media-query-bracket($lap-start, $desk-start){
		width: 16%;
	}
	@include media-query-bracket(0, $lap-start){
		width: 115px;
	}
}

.logo {
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    padding: 0;
    position: absolute;

    a {
		float: left;
    }

    img {
    	float: left;
    	max-width: 182px;
    	width: 100%;
    }
}

.logo_x4 {
	display: none;

	 @include media-query-bracket($wide-start, $massive-wide){
		display: block;
	}
}

.logo_x3 {
	display: none;

	@include media-query-bracket($desk-start, $wide-start){
		display: block;
	}
}

.logo_x2 {
	display: none;

	@include media-query-bracket($lap-start, $desk-start){
		display: block;
	}
}

.logo_x1 {
	display: none;

	@include media-query-bracket(0, $lap-start){
		display: block;
	}
}

.header-contact {
    display: block;
    float: right;
    width: 100%;

    p {
    	line-height: 1em;
    	margin-bottom: 0;
    	text-align: right;
    }

    .left-col {
    	padding-right: 20px;
    	text-align: right;
		width: 80%;

		@include media-query-bracket($lap-start, 700px){
			width: 78%;
		}

		@include media-query-bracket(0, $lap-start){
			padding-right: 0;
			width: 100%;
		}
    }

    .right-col {
		width: 20%;

		@include media-query-bracket(500px, 700px){
			width: 22%;
		}
    }
}

.lines-open {
	color: $grey-light;
	font-size: $small-base-font-size;
	margin-bottom: 0;
}

.query {
	color: $dark-coal;
	font-weight: $light-font-weight;
	font-size: 24px;

	@include media-query-bracket(1000px, 1120px){
		font-size: 22px;
	}

	@include media-query-bracket(915px, 1000px){
		font-size: 20px;
	}

	@include media-query-bracket(830px, 915px){
		font-size: 18px;
	}

	@include media-query-bracket(630px, 830px){
		font-size: 16px;
	}

	@include media-query-bracket(0, 630px){
		font-size: 12px;
	}
}
@include media-query-bracket(0, $lap-start){
	header .call {
		font-size: 17px;
		font-weight: $bold-font-weight;
		margin-bottom: 3px;
		margin-top: 3px;
	}
}

.header-top {
	@include clearfix();
	padding-bottom: 10px;
}

.header-right {
	display: block;
	float: right;
	width: 65%;

	@include media-query-bracket(0, $desk-start){
		width:80%;
	}

	// @include media-query-bracket(0, $lap-start){
	// 	width: 80%;
	// }

}

.top-links {
	display: inline-block;
	padding-bottom: 5px;
	padding-top: 5px;
	width: 100%;

	ul {
		display: block;
		float: right;
		margin: 0;
		width: auto;
	}

	li {
		float: left;
		display: inline-block;
		margin-left: 30px;

		&:first-child {
			margin-left: 0;
		}

		a {
			@extend .arrow;
		}
	}
}

/* ==========================================================================
$	MENU STYLES
========================================================================== */

.main-nav {
	> div {
		position: relative;
	}

	.centered {
		padding: 0 10px;
	}

	ul {
		margin-left: 0;
		position: relative;
		float: right;
		width: 86%;

		@include media-query-bracket($lap-start, $desk-start){
			width: 84%;
		}

		li {
			display: inline-block;
			float: left;
			padding: 15px 25px 15px 25px;
			width: auto;

			@include media-query-bracket(1010px, 1100px){
				padding: 15px 20px 15px 20px;
			}

			@include media-query-bracket(960px, 1010px){
				padding: 16px;
			}

			@include media-query-bracket($lap-start, 960px){
				padding: 12px;
			}

			@include media-query-bracket(0, $lap-start){
				display: none;
				padding: 10px;
			}

			&:first-child {
				padding: 15px 35px 15px 20px;

				@include media-query-bracket(1010px, 1100px){
					padding: 15px 20px 15px 30px;
				}

				@include media-query-bracket(960px, 1010px){
					padding:  16px 16px 16px 30px;
				}


				@include media-query-bracket($lap-start, 960px){
					padding: 12px 12px 12px 6px;
				}

				@include media-query-bracket(0, $lap-start){
					padding: 10px;
				}
			}

			&:hover {
				cursor: pointer;
				text-decoration: underline;
			}

			&:not(.more-menu){
				&:hover, &.active {
					background-color: $white;
					color: $primary;
		
					a {
						color: $primary;
					}
				}
			}

			&.more-menu {
 				float: right;
			}
			
		}
	}

	a {
		color: $white;
	}
}

 .more-menu {
	p {
		margin-bottom: 0;
	}

 	.title, .bars {
		display: inline-block;
		width: 50%;
 	}

	.title {
		float: left;
	}

 	.bars {
 		color: $white;
 		float: right;
 		padding-left: 10px;
 		text-align: right;
 	}
 }

