/* ====== CATEGORIES ====== */


/* ======
CATEGORIES
	- BASE STYLES
	- BUSINESS INSURANCE
	- PERSONAL INSURANCE
	- MOTOR INSURANCE
	- TRAVEL INSURANCE
	- HOME INSURANCE
	- LANDLORD AND TENANTS INSURANCE
	- HOLIDAY INSURANCE
	- YACHT AND CARAVAN INSURANCE
====== */


/* ==========================================================================
$	BASE STYLES
========================================================================== */
.icon {
	@include clearfix();
	display: block;
	margin: 0 auto;
	padding-bottom: 12%;
	width: 100px;

	@include media-query-bracket(0,$lap-start){
		width:80px;
	}

	span {
		@include prefix(border-radius, 50%);
		background-color: $white;
	    display: block;
	    float: left;
	    overflow: hidden;
	    padding: 10px;
	    width: 100%;
	}

	img {
		display: block;
		max-width: 100%;

	}

	&.tick-icon  {
		padding-bottom:10px;
		width: 70px;
	}
}

/* ==========================================================================
$	BUSINESS INSURANCE
========================================================================== */

.business-insurance-bg {
	@extend .colour-bg;
	background-color: $business-insurance;
}

.business-insurance {
	h4, h4 > a, a {
		color: $business-insurance;
	}
	.colour-bg {
		background-color: $business-insurance;
	}
}


/* ==========================================================================
$	PERSONAL INSURANCE
========================================================================== */

.personal-insurance-bg {
	@extend .colour-bg;
	background-color: $personal-insurance;
}

.personal-insurance {
	h4, h4 > a {
		color: $personal-insurance;
	}
	.colour-bg {
		background-color: $personal-insurance;
	}
}


/* ==========================================================================
$	MOTOR INSURANCE
========================================================================== */

.motor-insurance-bg {
	@extend .colour-bg;
	background-color: $motor-insurance;
}

.motor-insurance {
	h4, h4 > a {
		color: $motor-insurance;
	}
	.colour-bg {
		background-color: $motor-insurance;
	}
}


/* ==========================================================================
$	TRAVEL INSURANCE
========================================================================== */

.travel-insurance-bg {
	@extend .colour-bg;
	background-color: $travel-insurance;
}

.travel-insurance {
	h4, h4 > a {
		color: $travel-insurance;
	}
	.colour-bg {
		background-color: $travel-insurance;
	}
}


/* ==========================================================================
$	HOME INSURANCE
========================================================================== */

.home-insurance-bg {
	@extend .colour-bg;
	background-color: $home-insurance;
}

.home-insurance {
	.h2, h4, h4 > a, a, p {
		color: $home-insurance;
	}

	.colour-bg {
		background-color: $home-insurance;
	}	
}

.home-insurance-product {

	.product-intro {
		@include full-page-img('../images/home-insurance.jpg');
	}

	.product-details {
		@extend .home-insurance-bg;
	}

	.price-holder {
		border-top: 1px solid $home-insurance;
	}

	.price {
		p {
			color: $home-insurance;
		}

		&:first-child {
			border-right: 1px solid $home-insurance;
		}
	}
}

.product-details-nav li {
	background-color: $dark-home-insurance;

	&.active {
		background-color: $home-insurance;
	}
}

/* ==========================================================================
$	LANDLORD AND TENANTS INSURANCE
========================================================================== */

.ll-and-tenants-insurance-bg {
	@extend .colour-bg;
	background-color: $ll-tenants-insurance;
}

.ll-and-tenants-insurance {
	h4, h4 > a {
		color: $ll-tenants-insurance;
	}
	.colour-bg {
		background-color: $ll-tenants-insurance;
	}
}


/* ==========================================================================
$	HOLIDAY INSURANCE
========================================================================== */

.h-home-insurance-bg {
	@extend .colour-bg;
	background-color: $h-home-insurance;
}

.h-home-insurance {
	h4, h4 > a {
		color: $h-home-insurance;
	}
	.colour-bg {
		background-color: $h-home-insurance;
	}
}


/* ==========================================================================
$	YACHT AND CARAVAN INSURANCE
========================================================================== */

.yy-and-c-insurance-bg {
	@extend .colour-bg;
	background-color: $y-and-c-insurance;
}

.yy-and-c-insurance {
	h4, h4 > a {
		color: $y-and-c-insurance;
	}
	.colour-bg {
		background-color: $y-and-c-insurance;
	}
}

