.overlay {
	@include prefix(transition, height .25s ease-in-out);
	background-color: rgba(9, 176, 172, 0.9);
    height: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;

    &.active {    	
    	height: 100%;
    }

    a {
    	color: $white;
    	font-weight: $light-font-weight;
    	font-size: 30px;
    }
}

.overlay__inner {
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 3;
}

.overlay__contents {
    display: table-cell;
    vertical-align: middle;

    nav {
    	display: block;
    	clear: both;
    }
}

.overlay__contents ul {
	@include prefix(transition, opacity .25s ease-in-out .5s);
	@include prefix(transition, margin-top .25s ease-in-out .3s);
    line-height: 4.5em;
    list-style: outside none none;
    margin-top: 0;
    text-align: center;
    opacity: 0;

    @include media-query-bracket($lap-start, $desk-start){
    	line-height: 3.5em;
    }

    @include media-query-bracket(0,$lap-start){
    	line-height: 2.5em;
    }

    .active & {
		opacity: 1;
		margin-top: 10px;
    }
}


.overlay__contents ul a {
	@include media-query-bracket(0,$lap-start){	
		font-size: 22px;
	}
	@include media-query-bracket(0,$lap-start){	
		font-size: 18px;
	}
}