/* ====== PARTNERS ====== */


/* ======
PARTNERS
	- BASE STYLES
====== */


/* ==========================================================================
$	BASE STYLES
========================================================================== */

.partners ul {
	margin: 0 auto;
	&:before,
    &:after {
        content: "";
        display: inline;
    }
    &:after {
        clear: unset;
    }

	&:nth-child(2) {
		width: 80%;

		@include media-query-bracket(0,$desk-start){
			width: 100%;
		}
	}

	&.resp-items-holder .item {
		margin-left: 0;
		@include media-query-bracket(0,$desk-start){
			width: 20%;
		}
	}
}