/* ====== PRODUCT PAGE ====== */


/* ======
HEADER
	- BASE STYLES
	- COVER POINTS
	- ADD ONS
	- ACCORDION
	- MENU STYLES
====== */


/* ==========================================================================
$	BASE STYLES
========================================================================== */

.product-page {

	.content-holder.product-intro{
		padding-bottom: 0;
	}

	.section-heading {
		color: $white;
		width: 65%;

		@include media-query-bracket($lap-start, $desk-start){
			width: 90%;
		}

		@include media-query-bracket(0,$lap-start){
			width: 100%;
		}	

		h1, h2 {
			color: $white;
		}
	}	

	.tabbed-content {		
		display: none;	

		@include media-query-bracket(0,$lap-start){
			border-bottom: 1px solid $white;
			display: block;
			padding-bottom: 20px;
		}	

		&.active {
			display: block;			
			z-index: 1;
		}
	}
}

@include media-query-bracket($lap-start, $desk-start){
	.product-intro .centered  {
		width: 100%;
	}
}

.description {
	@include clearfix();
	margin: 50px auto;
	width: 85%;

	@include media-query-bracket(0,$lap-start){
		width: 100%;
		margin: 30px auto;
	}

	.left-col {
		padding-right: 10px;
		@include media-query-bracket(0, $lap-start){
			padding-right: 0;
		}
	}
	.right-col {
		padding-left: 10px;
		@include media-query-bracket(0, $lap-start){
			padding-left: 0;
		}
	}
}

.know-more {
	font-size: 18px;

	@include media-query-bracket(0, $lap-start){
		font-size: 16px;
	}
}

.call-action {
	margin-bottom: 50px;
	
	@include media-query-bracket(0, $lap-start){
		margin-bottom: 30px;
	}
	
	.call {
		font-size: 36px;
		font-weight: $light-font-weight;
		@include media-query-bracket(0, $lap-start){
			font-size: 28px;
		}
	}
}

.more-products {
	@include clearfix();
	margin-bottom: 0;
}

.help-find {
	padding-bottom: 20px;

	p {
		text-align: right;
		@include media-query-bracket(0, $lap-start){
			text-align: center;
		}
	}

	.actions {
		margin: 0 auto;
		width: 65%;
		text-align: right;

		@include media-query-bracket(850px, 950px){
			width: 75%;
		}

		@include media-query-bracket($lap-start, $desk-start){
			font-size: 20px;
		}

		@include media-query-bracket(0, 850px){
			width: 100%;
		}

	}

	.find {
		font-size: 24px;
		@include media-query-bracket($lap-start, $desk-start){
			font-size: 20px;
		}
		@include media-query-bracket(0, $lap-start){
			font-size: 16px;
		}
	}

}

.find-inner {
    float: left;
    padding-right: 10px;
    text-align: right;
    width: 77%;

    @include media-query-bracket($lap-start, 650px){
		width: 75%;
    }

    @include media-query-bracket(0, $lap-start){
    	margin-bottom: 15px;
		width: 100%;
	}
}

.contact-inner {
    float: right;
    width: 23%;
   
    @include media-query-bracket($lap-start, 650px){
		width: 25%;
    }

    @include media-query-bracket(0, $lap-start){
    	text-align: center;
		width: 100%;

		.primary-btn {
			margin: 0 auto;

		}
	}
}

/* ==========================================================================
$	COVER POINTS
========================================================================== */

.cover .icon {
	padding-bottom: 0;
	position: relative;
}

.plus {
    bottom: -3px;
    position: absolute;
    right: 0;

    &:hover {
    	cursor: pointer;
    }

    
}

.cover-pnts {	
	@include clearfix();
	margin-bottom: 50px;
}

@include media-query-bracket($lap-start, $massive-wide){
	.cover-pnts_info {
		padding-left: 15px;

		h6 {
			text-align: left;
		}
	}
}

.cover-pnts_info h6 {
	font-size: 16px;
}

.cover-pnts {

	.resp-items-holder.items-3 .item {
		margin-bottom: 20px;
		display: table;
	
		@include media-query-bracket($lap-start, $desk-start){
			width: 49.5%;
		}

		@include media-query-bracket(0, $lap-start){
			margin-bottom: 0;
		}
	}
	
	@include media-query-bracket(0, $lap-start){
		.item {
			border-bottom: 1px solid $white;
			padding-bottom: 20px;
			padding-top: 20px;
		}
	}

	@include media-query-bracket($lap-start, $massive-wide){
		.cover-pnts_info, .tick-icon {
			display: table-cell;
	    	vertical-align: middle;
		}
	}
	

	.cover-pnts__details {
		@include prefix(transition, opacity .25s ease-in-out);
		@include prefix(border-radius, 6px);
		left: 100%;
	    margin-left: 17px;
	    padding: 15px;
	    position: absolute;
	    opacity: 0;
	    text-align: left;
	    top: -5px;
	    width: 300px;


	    @include media-query-bracket($lap-start, $massive-wide){
			
			visibility: hidden;
			background: $primary;
			z-index: 1;

			&.active {
				opacity: 1;
				visibility: visible;
			}
			

			&:after, &:before {
				right: 100%;
				top: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}

			&:after {
				border-color: rgba(9, 176, 172, 0);
				border-right-color: $primary;
				border-width: 15px;
				margin-top: -15px;
			}

			&:before {
				border-color: rgba(0, 0, 0, 0);
				border-width: 15px;
				margin-top: -15px;
			}
			
		}

		@include media-query-bracket(0, $lap-start){
			display: none;
		}
    }

    @include media-query-bracket(820px, $page-width){

		.item:nth-child(3n) .cover-pnts__details {						
			left: auto;
			right: 47%;

			&:after, &:before {
				left: 100%;
				top: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}

			&:after {
				border-color: rgba(9, 176, 172, 0);
				border-left-color: $primary;
				border-width: 15px;
				margin-top: -15px;
			}

			&:before {
				border-color: rgba(0, 0, 0, 0);
				border-width: 15px;
				
			}			
		}

    }

    @include media-query-bracket($lap-start, 820px){

		.item:nth-child(2n) .cover-pnts__details {						
			left: auto;
			right: 47%;

			&:after, &:before {
				left: 100%;
				top: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}

			&:after {
				border-color: rgba(9, 176, 172, 0);
				border-left-color: $primary;
				border-width: 15px;
				margin-top: -15px;
			}

			&:before {
				border-color: rgba(0, 0, 0, 0);
				border-width: 15px;
				
			}			
		}

    }


	h5 {
		margin-bottom: 5px;
		padding-top: 0;
		text-align: left;
	}

    p {
    	font-size: 12px;
    	line-height: 1.4em;

    	// @include media-query-bracket(0, $lap-start){ 
    	// 	font-size: 16px;
    	// 	line-height: 1.4em;
    	// }

    }
}

/* ==========================================================================
$	ADD ONS
========================================================================== */

.price-holder  {
	display: block;
	width: 100%;

	.price {
		display: inline-block;
		float: left;
		padding: 5px;
		text-transform: uppercase;
		width: 50%;
		
		p {
			font-size: 32px;
		}
		p:first-child {
			font-size: 12px;
			margin-bottom: 5px;
		}
	}
}

.add-ons {
	@include clearfix;
	margin-bottom: 50px;

	@include media-query-bracket(0,$lap-start){  
		margin-bottom: 30px;
	}

	h5 {
		font-size: 22px;
		font-weight: $bold-font-weight;
	}

	.item {
		@include prefix(border-radius, 6px);
		@extend .white-bg;

		@include media-query-bracket(0,$lap-start){ 
			margin-bottom: 20px;
			margin-left: 0;	
			padding-left: 0;
			padding-right: 0;
			width: 100%;	
			
			&:nth-last-child(-n+2){
				margin-bottom: 20px;
			}		
		}

		.details {
			background: none;
		}
	}
}

.icon.add-on-icon {
	padding-bottom: 5%;
	width: 80px;
	span {
		background-color: #ECECEC;
	}
}

/* ==========================================================================
$	MENU ACCORDION
========================================================================== */

.accordion-holder {
	@include center-block;
	width: 70%;

	@include media-query-bracket($lap-start, $desk-start){
		width: 90%;
	}

	@include media-query-bracket(0,$lap-start){
		width: 100%;
	}
}

.accordion {
	@include prefix(border-radius, 6px);
	@include prefix(transition, max-height .25s ease-in-out);
	background: $white;
	max-height: 60px;
	margin-bottom: 10px;
	padding: 10px;
	overflow: hidden;

	@include media-query-bracket(0, 500px){
		max-height: 70px;
	}

	&.active {
		max-height:500px ;	
	}

	h5 {
		line-height: 1.2em;
		background-image: url(../images/icons/icon-sprite.svg);
		background-repeat: no-repeat;
		background-position: right -28px;
		padding-bottom: 10px;
		padding-right: 22px;
		padding-top: 10px;
		text-align: left;

		@include media-query-bracket(0, 500px){
			background-position: right -22px;
			width: 100%;
		}
	}
	

	&.active h5 {
		background-position: right 10px;

		@include media-query-bracket(0, 500px){
			background-position: right 16px;			
		}
	}
}

.accordion-holder .accordion p {
	color: $grey-light;
}
/* ==========================================================================
$	MENU STYLES
========================================================================== */

.product-details-nav {
	margin-top: 30px;

	nav {
		@include center-block;
		width: 85%;

		@include media-query-bracket(0, $desk-start){
			width: 100%;
		}
		
	}

	li {
		@include prefix(border-radius, 6px 6px 0 0);
		display: inline-block;
		color: $white;
		margin-left: 1%;
		padding: 15px 30px 15px 30px;
		text-align: center;
		width: 23.8%;

		@include media-query-bracket(0, $desk-start){
			font-size: 14px;
		}

		@include media-query-bracket(650px, 750px){
			padding: 15px;
		}

		@include media-query-bracket($lap-start, 650px){
			margin-left: 5px;
			padding: 10px;
		}
		
		&:first-child {
			margin-left: 0;
		}

		&:hover {
			cursor: pointer;
		}

		&.active {
			font-weight: $bold-font-weight;
		}
	}
}



