/* ====== REESPONSIVE GRIDS ====== */


/* ======
REESPONSIVE GRIDS
	- BASE STYLES
	- INSURANCE CATEGORIES
	- MORE CATEGORIES
====== */


/* ==========================================================================
$	BASE STYLES
========================================================================== */

.resp-items-holder {
	@include clearfix;
	display: block;
	margin: 0;

	.item {
		display: inline-block;
		float: left;
		margin-bottom: 1%;
		margin-left: 1%;
		position: relative;
		text-align: center;
		width: 24.25%;

		@include media-query-bracket($desk-start, $massive-wide){
			&:nth-child(5n) {
				margin-left: 0;
			}

			&:nth-last-child(-n+4) {
			  margin-bottom: 0;
			}
		}		

		@include media-query-bracket(0,$desk-start){
			width: 49.5%;
			
			&:nth-child(2n+1) {
				margin-left: 0;
			}

			&:nth-last-child(-n+2) {
			  margin-bottom: 0;
			}			

		}

		@include media-query-bracket($lap-start,$desk-start){
			width: 49%;
			margin-bottom: 2%;
			margin-left: 2%;
		}
		
		&:first-child {
			margin-left: 0;
		}	

	}

	&.items-3 .item {
		margin-bottom: 1%;
		margin-left: 0;
		padding-left: 4%;
		padding-right: 4%;
		width: 33.3%;

		@include media-query-bracket($lap-start, 700px){ 
			padding-left: 2%;
			padding-right: 2%;
		}

		@include media-query-bracket(0,$lap-start){ 
			margin-bottom: 20px;
			margin-left: 0;	
			padding-left: 0;
			padding-right: 0;
			width: 100%;

			&:last-child {
				border-bottom: none;
				padding-bottom: 0;
			}
		}		
	}

	&.items-6 .item {
		margin-bottom: 0;
		margin-left: 0;
		padding-left: 0;
		padding-right: 0;
		width: 16.66%;	

		@include media-query-bracket($lap-start, $desk-start){
			width: 24.25%;
			
			&:nth-child(2n+1) {
				margin-left: 0;
			}

			&:nth-last-child(-n+2) {
			  margin-bottom: 0;
			}			

		}	
	}

	a {
		display: block;
	}

	a > img {
		@include prefix(border-radius, 6px);
		overflow: hidden;
		width: 100%;
	}
}

.resp-items-details {
	bottom: 12%;
	left: 10%;
	position: absolute;
	width: 80%;

	@include media-query-bracket(0,$lap-start){ 
		bottom: 5%;
		left: 2.5%;
		width: 95%;
	}
}


/* ==========================================================================
$	INSURANCE CATEGORIES
========================================================================== */

.insurance-cats .resp-items-holder > img {
	@include prefix(border-radius, 6px);
	overflow: hidden;
}

/* ==========================================================================
$	MORE CATEGORIES
========================================================================== */

.more-products .resp-items-holder {
	
	// @include media-query-bracket($lap-start, $desk-start){
	// 	.item {
	// 		//width: 49%;
			
	// 		// &:nth-child(2n+1) {
	// 		// 	margin-left: 0;
	// 		// }
	// 	}
	// }

	@include media-query-bracket(0,$lap-start){
		.item {
			width: 100%;
			margin-bottom: 20px;
			margin-left: 0;				
		}		

	}

	a > img {
		@include prefix(border-radius, 6px 6px 0 0px);
	}
}


.details {
	@include prefix(border-radius, 0 0 6px 6px);
	background-color: $white;
	padding: 15px 20px 15px 20px;
	text-align: center;

	.actions {
		padding-top: 10px;
	}

	h4 {
		margin-bottom: 10px;
		padding-top: 0;
	}

	p {
		margin-bottom: 10px;
	}
}

