/* ====== SEARCH ====== */


/* ======
SEARCH
	- BASE STYLES
	- SEARCH INPUT STYLES
	- SEARCH RESULT STYLES
====== */


/* ==========================================================================
$	BASE STYLES
========================================================================== */

.search-holder {
    display: block;
    margin: 10px auto 0;
    position: relative;
    width: 75%;

    @include media-query-bracket(0,$lap-start){
		margin-top: 25px;
		width: 90%;
	}
}

/* ==========================================================================
$	SEARCH INPUT STYLES
========================================================================== */

input.search {
	background-color: $white;
	border: none;
	@include prefix(border-radius, 6px);
	padding: 10px;
	width: 100%;
}

.search-icon {
	background: none;
	border: none;
	color: $primary;
	font-size: 16px;
    position: absolute;
    right: 15px;
    top: 12px;
}


/* ==========================================================================
$	SEARCH RESULTS STYLES
========================================================================== */

#search_results {
	background-color: rgba(255,255,255, 0.9);
	top: 100%;
	left: 0;
	padding-left: 15px;
	padding-right: 15px;
	position: absolute;
	width: 100%;
	z-index: 2;

	ul {
		margin: 0;
	}

	li {
		display: inline-block;
		list-style: none;
		padding-bottom: 15px;
		width: 33%;
    	padding-top: 15px;

		@include media-query-bracket($lap-start, $desk-start){
			width: 50%;
		}

		@include media-query-bracket(0,$lap-start){
			padding: 10px;
			padding-top: 10px;
			width: 100%;
		}

		a {
			//@include vertical-align();
			float: none;
			padding-bottom: 0;
			padding-right: 15px;
			margin: 0;
			display: table-cell;
    		vertical-align: middle;
		}
	}

	.search-details {
		//@include prefix(transform-style, preserve-3d);
		display: table;
	}
}

@include media-query-bracket(0,$lap-start){
	#search_results li a.icon {
		display: none;
	}
}
.no-results {
	padding-bottom: 15px;
	padding-top: 15px;

	p {
		font-weight: 300;
		font-size: 18px;
	}
}