/* ====== UNQIUE SELLING POINTS ====== */


/* ======
UNQIUE SELLING POINTS
	- BASE STYLES
====== */


/* ==========================================================================
$	BASE STYLES
========================================================================== */

.unique-pnts.content-holder {
	padding-bottom: 0;
	padding-top: 0;

	h6 {
		margin-bottom: 10px;
		margin-top: 0;
		padding-top: 0;
	}

	.item {
		border-left: 1px solid $white;
		margin-bottom: 0;
		padding-bottom: 45px;
		padding-top: 45px;

		&:first-child {
			border-left: none;
		}

		@include media-query-bracket($lap-start ,$page-width){
			padding-bottom: 30px;
			padding-top: 30px;
		}

		@include media-query-bracket(0,$lap-start){ 
			border-bottom: 1px solid $white;
			border-left: none;
			margin-bottom: 10px;
			padding-bottom: 15px;
			padding-top: 15px;
		}
	}

}